<!--/*--><!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><!--*/-->
    <th:block th:fragment="footer"><span th:utext="'&lt;!-- the following block was replaced by /frgaments/footer --&gt;'" th:remove="tag"></span>
    <div class="footer">
       <span th:text="#{footer.year}">© 2017</span>
       <a href="#" th:text="#{footer.copyright}">T.N.Silverman - SilverSoft LTD</a>
       <span th:text="#{footer.notice}">All Rights Reserved.</span>
    </div>
    </th:block>